div .container{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    margin-right:40px;
   
}

div .question-context{
     display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right:20px;
    border:solid;
    border-radius: 10px;
    margin-bottom:30px;
    padding:10px;
    flex-wrap: wrap;
    width:684px;
}

div .question-bar{
    width:20%;
    height:60%;
    border:solid;
    border-radius: 10px;
    padding:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     

}




div .part div #question-wrap{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
   align-items: flex-start;
   
    
   
}
@media only screen and (max-width: 966px) {
    div .container{
     flex-direction: column;
       
    }

    div .question-bar{
    width:98%;
    height:40%;
    border:solid;
    border-radius: 10px;
    margin-right:15px;
    
}
}

h2{
    font-size:16px;
    margin-top:10px;
    margin-bottom: 10px;
}

#question-icon{
    margin:5px;
    background-color: white;
    border:solid;
    border-radius: 5px;
    padding:5px;
   
}


#turn-in{
  border-color: #2196F3;
  color: dodgerblue;
  background-color: #fff;
  border:solid;
  width: 80%;
  margin-top:18px;
  margin-right: 30px;;
}

#turn-in:hover {
  background: #2196F3;
  color: white;
}

div.test{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
a.finish{
    color: white;
    background-color: #35509a;
    border:solid;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    padding:2px;
    margin-bottom: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;


    color: initial;
    
}

a.not {
    background-color: white;
    color:black;
    border:solid;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    padding:2px;
    margin-bottom: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

}

form{
    display: flex;
    
}

div.time-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#light{
  border-radius: 10px;
  padding:4px;
  background-color:#6495ed;
  border: grid;
  color: white;
}



