div .card-item{
    background-color: white;
    display:flex;
    flex-direction: column;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    word-wrap: break-word;
    padding:30px;
    margin-left:40px;
}

h1 {
    font-style: bold;
    margin-left: 0px;
    font-size: 24px;
}

p.cards{
    font-size:16px;
    padding:8px;
}


#butt{
    border-radius: 10px; 
    margin-bottom: 10px;
    color:black;
    background-color: #27ae60;
    color: white;
    font-size:16px;
    margin-right:25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}



@media only screen and (max-width: 900px) {
    div .card-item{
        width: 55%;
    }

    h1{
        margin-left: 20px;
    }
}