div .card-item{
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    
  
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    word-wrap: break-word;
    padding:30px;
    margin-right:40px;
}

h1 {
    font-style: bold;
    margin-left: 0px;
    font-size: 30px;
}




#but{
    border-radius: 10px; 
    margin-bottom: 10px;
    color:black;
    background-color: white;
    margin-right:25px;
}


@media only screen and (max-width: 900px) {
    div .card-item{
        width: 55%;
    }

    h1{
        margin-left: 20px;
    }
}