
div.cards{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}

div .online-course h1.heading{
    text-align: center;
    font-size: 1.5rem;
    font-style: bold;
}



@media only screen and (max-width: 900px) {
    div.cards{
        flex-direction: column;
        
    }
}

#detail{
    color:blue;
}

div.result{
    display: flex;
   
    flex-direction: column;
}

p{
    margin-bottom: 0px;
    margin-left: 0px;
}


@media only screen and (max-width: 900px){
h1 {
     margin-left: 0px;

}
}
